.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(155,155,155,0.1);
}
.logo{
    max-width: 200px;
    width: 100%;
}
.header-nav-ul{
    display: flex;

}
.header-nav-ul a{
    color: black;
    margin-left: 20px;
}
.search-and-user-div a{
    margin-left: 25px;
}
.header-nav-ul a:hover{
    border-bottom: rgb(231, 56, 56) 1px solid;
}
.user:hover{
   background-color: rgb(231, 56, 56);
   border-radius: 12px;
}